python=3.11
numpy>=1.24
pandas>=2.0
scipy>=1.11
scikit-learn>=1.3
umap-learn>=0.5
matplotlib>=3.7
seaborn>=0.12
statsmodels>=0.14
scikit-posthocs>=0.7
scikit-image>=0.21
imageio>=2.31
opencv>=4.8
cellpose>=2.3
pytorch>=2.2
torchvision>=0.17
cpuonly
xgboost>=1.7
lightgbm>=4.0
tk
